@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500&display=swap');

.body{
    color: black;
}
:root{
    --blue: #3498db;
    --dark-blue: #2980b9;
    --red:#ec1a1a;
    --dark-red: #5e150d;
    --black:#333;
    --white: #fff;
    --light-bg: #eee;
    --undifined:#27b7dbda;
    --ufo:#4d505ada;
    --other: #27c7ac4f;
    --box-shadow:0 5px 10px rgba(0,0,0,1.7);
}
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
*::-webkit-scrollbar{
    width: 10px;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--blue);
}
.btn,
.logout-btn{
    width: 100%;
    border-radius: 5px;
    padding: 10px 30px;
    display: block;
    color: var(--white);
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}
.btn{
    background-color: var(--blue);
    width: 95%;
    margin-left: 2.5%;
 }
.btn:hover{
     background-color: var(--dark-blue);
}
.logout-btn{
    background-color: var(--red);
    width: 95%;
    margin-left: 2.5%;
}
.logout-btn:hover{
    background-color: var(--dark-red);
}
.back-btn,
.update-btn,
.up_btn{
    width: 100%;
    border-radius: 5px;
    padding: 10px 30px;
    display: block;
    color: var(--white);
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}
.up_btn{
    background-color: var(--blue);
    width: 95%;
    margin-left: 2.5%; 
}
.up_btn:hover{
    background-color: var(--dark-blue);
}
.back-btn{
    background-color: var(--red);
    width: 95%;
    margin-left: 2.5%;
}
.back-btn:hover{
    background-color: var(--dark-red);
}
.message{
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: var(--blue);
    font-size:12px;
}
.error_message{
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: var(--red);
    font-size: 15px;
}
.form-container{
    min-height: 100vh;
    background-color: #170247b7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.form-container form{
    padding: 20px;
    background-color: var(--ufo);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 400px;
    border-radius: 5px;
    transition: all 1s;
}
.form-container form:hover{
    transform: scale(1.1);
}
.form-container form h3{
    margin-bottom: 10px;
    font-size: 30px;
    color: var(--black);
    text-transform: uppercase;
}
.form-container form .box{
    width: 100%;
    border-radius: 5px;
    padding: 12px 14px;
    font-size: 18px;
    color: var(--black);
    margin: 10px 0;
    background-color: var(--light-bg);
}
.form-container form p{
    margin-top: 15px;
    font-size: 20px;
    color: var(--black);
}
.form-container form p a{
    color: var(--blue);
}
.form-container form p a:hover{
    text-decoration: underline;
}
.container{
    min-height: 100vh;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}
.container .profile{
    padding: 20px;
    background-color: var(--light-bg);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 30%;
    border-radius: 5px;
    border: outset;
    transition: all 1s;
}
.container .profile:hover{
    transform: scale(1.1);
}
.container .profile img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}
.container .profile h3{
    margin: 5px 0;
    font-size: 20px;
    color: var(--black);
}
.container .profile p{
    margin: 5px 0;
    font-size: 10px;
    color: var(--blue);
}
.container .profile p{
    margin-top: 20px;
    color: var(--black);
    font-size: 20px;
}
.container .profile p a{
    color: var(--red);
}
.container .profile p a:hover{
    text-decoration: underline;
}
.update_profile{
    min-height: 100vh;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.update_profile form{
    padding: 20px;
    background-color: var(--black);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 80%;
    border-radius: 5px;
}
.update_profile form img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}
.update_profile form .flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;
    padding: 20px;
    background-color: var(--black);
}
.update_profile form .flex .inputBox{
    width: 49%;
}
.update_profile form .flex .inputBox span{
    text-align: left;
    display: block;
    margin-top: 15px;
    font-size: 20px;
    color: var(--white);

}
.update_profile form .flex .inputBox .box{
    width: 100%;
    border-radius: 5px;
    background-color: var(--white);
    padding: 12px 14px;
    font-size: 15px;
    color: var(--black);
    margin-top: 10px;
}
@media(max-width:650px){
    .update_profile form .flex{
        flex-wrap: wrap;
        gap: 0;
    }
    .update_profile form .flex .inputBox{
        width: 100%;
    }
}
