@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500&display=swap');

.body{
    color: black;
}
:root{
    --blue: #3498db;
    --dark-blue: #2980b9;
    --red:#ec1a1a;
    --dark-red: #5e150d;
    --black:#333;
    --white: #fff;
    --light-bg: #eee;
    --undifined:#27b7dbda;
    --ufo:#4d505ada;
    --other: #27c7ac4f;
    --box-shadow:0 5px 10px rgba(0,0,0,1.7);
}
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
*::-webkit-scrollbar{
    width: 10px;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--blue);
}
.btn,
.back-btn{
    width: 100%;
    border-radius: 10%;
    padding: 2% 10%;
    display: block;
    color: var(--white);
    text-align: center;
    cursor: pointer;
    font-size: 100%;
    margin-top: 2%;
}
.btn{
    background-color: transparent;
    width: 87%;
    margin: 1% 6.5% 0 6.5%;
    border: 2px solid blue;
 }
.btn:hover{
     background-color: var(--dark-blue);
}
.back-btn{
    background-color: transparent;
    width: 87%;
    margin: 1% 6.5% 0 6.5%;
    border: 2px solid red;
}
.logout-btn:hover{
    background-color: var(--dark-red);
}
.logout-btn,
.update-btn,
.up_btn{
    width: 100%;
    border-radius: 5%;
    padding: 2% 10%;
    display: block;
    color: var(--white);
    text-align: center;
    cursor: pointer;
    font-size: 100%;
    margin-top: 1%;
}
.up_btn{
    background-color:transparent;
    width: 100%;
    border: 2px solid blue;
    border-radius: 20%;
}
.up_btn:hover{
    background-color: var(--dark-blue);
}
.logout-btn{
    background-color: transparent;
    width: 100%;
    border: 2px solid red;
    border-radius: 20%;
}
.back-btn:hover{
    background-color: var(--dark-red);
}
.message{
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: var(--blue);
    font-size:12px;
}
.error_message{
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: var(--red);
    font-size: 15px;
}
.form-container{
    min-height: 100%;
    background-color: #170247b7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55%;
}
.form-container form{
    padding: 5%;
    background-color: var(--ufo);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 100%;
    border-radius: 2%;
    transition: all 1s;
}
.form-container form:hover{
    transform: scale(1.1);
}
.form-container form h3{
    margin-bottom: 2%;
    font-size: 100%;
    color: var(--black);
    text-transform: uppercase;
}
.form-container form .box{
    width: 100%;
    border-radius: 5px;
    padding: 12px 14px;
    font-size: 18px;
    color: var(--black);
    margin: 10px 0;
    background-color: var(--light-bg);
}
.form-container form p{
    margin-top: 15px;
    font-size: 20px;
    color: var(--black);
}
.form-container form p a{
    color: var(--blue);
}
.form-container form p a:hover{
    text-decoration: underline;
}
.container{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    min-width: 100%;
    bottom: 0;
}
.container .profile{
    padding: 5%;
    background-color: transparent;
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 50%;
    border: none;
    border-radius: 2%;
    transition: all 1s;
}
.container .profile:hover{
    transform: scale(1.1);
}
.container .profile img{
    height: 20%;
    width: 20%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2%;
}
.container .profile h3{
    margin: 1%;
    font-size: 100%;
    color: var(--white);
    margin-bottom: 5%;
}
.container .profile p{
    margin-top: 1%;
    color: var(--white);
    font-size: 100%;
}
.container .profile a{
    margin-top: 1%;
    color: var(--white);
    font-size: 100%;
}
.container .profile p a{
    color: red;
    font-weight: 600px;
    font-size: 20px;
}
.container .profile p a:hover{
    text-decoration: underline;
}
.update_profile{
    top: 0;
    min-height: 80%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    margin-left: 25%;
    margin-right: 25%;
}
.update_profile form{
    background-color: transparent;
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 100%;
    border-radius: 2%;
    margin-top: 0;
    bottom: 0;
    border: 2px solid black;
}
.update_profile form img{
    height: 10%;
    width: 10%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
    border: 5px solid var(--black);
    border-style: outset;
    border-color: coral;
    border-width: 5%;
}
.update_profile form .flex{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    gap: 0;
    background-color: transparent;
}
.update_profile form .flex .inputBox{
    width: 49%;

}
.update_profile form .flex .inputBox span{
    text-align: left;
    display: block;
    margin-top: 2%;
    font-size: 100%;
    color: var(--white);
    font-weight: 900px;
}
.update_profile form .flex .inputBox .box{
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    padding: 12px 14px;
    font-size: 15px;
    color: var(--white);
    margin-top: 10px;
    border: 1px solid var(--white);
    border: 2px solid black;
    font-weight: 900px;
    background-color: grey;
    opacity: 0.7;
}
@media(max-width:650px){
    .update_profile form .flex{
        flex-wrap: wrap;
        gap: 0;
    }
    .update_profile form .flex .inputBox{
        width: 100%;
    }
}
