* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
  
  }
  
  :root {
    --bg-color: #79FDFC;
    --text-color: #122A2A;
  }
  
  body {
    font-size: 15pt;
  }
  
  .main_nav_container {
    display: flex;
    justify-content: space-around;
    background: var(--bg-color);
    align-items: center;
    padding: .4rem 0rem;
    text-transform: capitalize;
    position: fixed;
    width: 100%;
  
  }
  
  .top_navbar {
    display: flex;
    justify-content: space-between;
  }
  
  .top_navbar div {
    margin-left: .4rem;
  }
  
  .top_navbar div a {
    color: var(--text-color);
    font-weight: 900;
  }
  
  .main_nav_container #click {
    display: none;
  }
  
  .menu_btn {
    display: none;
  }
  
  @media (max-width: 720px) {
    .main_nav_container {
      position: fixed;
  
    }
  
    .menu_btn {
      display: block;
    }
  
    .top_navbar {
      flex-direction: column;
      position: absolute;
      background: #595C5B;
      top: 100%;
      left: -100%;
      right: 0;
      width: 100%;
      height: 50vh;
      padding: 0px;
      justify-content: space-evenly;
      align-items: center;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
  
    }
  
  
    .top_navbar div a {
      font-weight: bold;
      color: white;
    }
  
    .top_navbar div a:hover {
      background: var(--bg-color);
      color: black;
      padding: 0.5rem 6rem;
      border-radius: 3px;
      transition: 0.2s linear;
  
    }
  
  
    #click:checked~.top_navbar {
      left: 0%;
      transition: .4s ease;
    }
  
    #click:checked~.menu_btn i:before {
      content: "\f00d";
    }
    .sec_nav_container {
        display: flex;
        justify-content: center;
        background: var(--bg-color);
        text-transform: capitalize;
        background-color: black;
        top: 5%;
        position: fixed;
        width: 100%;
        right: 0;
    
      
      }
      
      .top_secnavbar {
        right: 0;
        display: flex;
        width: 100%;
        padding: 0 1% 0 5%;
        justify-content: space-between;
      }
      
      .top_secnavbar div {
        right: 0;
        padding: 0 5%;
      }
      
      .top_secnavbar div p {
        color: white;
        right: 0;
        font-size: 100%;
        
      }
    
    .container .row .table{
        display: block;
        text-align: center;
        color: black;
        width: 100%;
    }
    .container .row .table thead th{
        text-align: center;
        border-radius: 10%;
        padding: 4.3% 0;
    }
    .container .row .table tbody{
        background-color: transparent;
    }
    .container .row .table tbody td{
        width: 1%;
        padding: 1% 0;
        border: 2px solid black;
        border-radius: 10%;
        font-size: 100%;
    
    }
    .btn{
        font-size: 50px;
        background-color: transparent;
        border: none;
    }
    .sec_nav_container {
      display: flex;
      justify-content: center;
      background: var(--bg-color);
      text-transform: capitalize;
      background-color: black;
      padding: 2% 3% 2% 6%;
      top: 14.9%;
      position: fixed;
      width: 100%;
      right: 0;
  
    
    }
    
    .top_secnavbar {
      right: 0;
      display: flex;
      width: 100%;
      margin-top: 5%;
      justify-content: space-between;
    }
    
    .top_secnavbar div {
      right: 0;
      padding: 5% 5% 5% 5%;
    }
    
    .top_secnavbar div p {
      color: white;
      right: 0;
      
    }
  
  .container .row .table{
      display: block;
      text-align: center;
      color: black;
      width: 100%;
  }
  .container .row .table thead th{
      text-align: center;
      border-radius: 10%;
      padding: 6.4% 0;
  }
  .container .row .table tbody{
      background-color: transparent;
  }
  .container .row .table tbody td{
      width: 1%;
      padding: 1% 0;
      border: 2px solid black;
      border-radius: 10%;
      font-size: 30px;
  
  }
  .btn{
      font-size: 50px;
      background-color: transparent;
      border: none;
  }
  .logo img{
      height: 40%;
      width: 40%;
    }


  
  }
  .sec_nav_container {
    display: flex;
    justify-content: center;
    background: var(--bg-color);
    text-transform: capitalize;
    background-color: black;
    padding: 2% 3% 2% 6%;
    top: 14.9%;
    position: fixed;
    width: 100%;
    right: 0;

  
  }
  
  .top_secnavbar {
    right: 0;
    display: flex;
    width: 100%;
    padding: 0 1% 0 5%;
    justify-content: space-between;
  }
  
  .top_secnavbar div {
    right: 0;
    padding: 0 5%;
  }
  
  .top_secnavbar div p {
    color: white;
    right: 0;
    
  }

.container .row .table{
    display: block;
    text-align: center;
    color: black;
    width: 100%;
}
.container .row .table thead th{
    text-align: center;
    border-radius: 10%;
    padding: 6.4% 0;
}
.container .row .table tbody{
    background-color: transparent;
}
.container .row .table tbody td{
    width: 1%;
    padding: 1% 0;
    border: 2px solid black;
    border-radius: 10%;
    font-size: 30px;

}
.btn{
    font-size: 50px;
    background-color: transparent;
    border: none;
}
.logo img{
    height: 40%;
    width: 40%;
  }